.content {
  flex: 1;
  justify-content: center;
  margin: 0 auto;
  width: 400px;
}
.header {
  color: var(--accent);
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 4px;
  margin-bottom: 16px;
  text-align: center;
}
.link {
  color: var(--accent);
  margin-top: 16px;
  text-align: center;
}
