/* This module is used for the Auth pages */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 400px;
  min-height: calc(100vh - var(--footer-height));
  min-width: 340px;
}
.header {
  color: var(--accent);
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 4px;
  margin: 16px 0;
  text-align: center;
}
.errorContainer {
  color: var(--error);
  height: 20px;
  margin: 8px 0 16px 0;
  text-align: center;
}
.link {
  color: var(--accent);
  margin-top: 16px;
  text-align: center;
}
.result {
  color: var(--app-text);
  font-size: 16px;
  text-align: center;
}
